<div class="container-fluid p-4" style="background-color: rgba(0, 0, 0, 0.1);">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>
        <p>
          Here you can use rows and columns to organize your footer content.
        </p>
      </div>
      <!-- Add more columns as needed -->

    </div>
  </div>
